@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap');
 
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Section */

.header-container{
   background-color: rgba(255, 144, 14, 0.1);
   margin: 0 auto;
}

.header-item{
    padding-top: 50px;

}

.header-nav{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    text-align: center;
}
.header-nav h2{
    font-weight: 700;
    font-size: 45px;
    
}
.menu-item{
    display: flex;
}

.menu-item li{
    list-style: none;
    margin-left: 40px;
}

/* brand-promotion */

.brand-promotion{
    text-align: center;
    margin: 50px auto;
    width: 50%;
}
.brand-promotion h1{
    font-size: 65px;
    font-weight: 700;
}
.brand-promotion p{
    margin-top: 20px;
}
.explore-button{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    color: #fff;
    border-radius: 8px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    
       
}
.banner-image{
    text-align: center;
    margin: 0 auto;
    width: 1440px;
}
.banner-image img {
    padding-bottom: 50px;
}

/* Working Features */

.working-features{
    display: flex;
    padding: 50px auto;
    margin: 100px auto;
    justify-content: center;
    align-content: center;
}

.image-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 50px;

}
.image-gallery img{
    margin: 5px;
}

.feature-details {
    margin: auto 0;
    align-items: center;
    width: 30%;
    vertical-align:baseline;
}
.feature-details .bold {
    font-size: 25px;
    font-weight: 600;
}
.feature-details .orange-font{
    color: #FF900E;
}

/* loving-features-section */

.loving-features{
    display: flex;
    margin: 50px auto;
    padding-top: 50px;
    width: 1440px;
    padding-bottom: 100px;
}
.loving-feature-details{
    width: 50%;
    margin-right: 80px;

}
.loving-feature-details h2 {
    font-size: 45px;
    font-weight: 700;
    width: 60%;

}
.loving-feature-details p{

}
.single-feature{
    width: 80%;
    align-items: baseline;
    margin-top: 35px;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgb(231, 230, 230);
}
.single-feature h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.single-feature p{
    line-height: 25px;
}



.loving-feature-images button{
    background-color:#FF900E;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding:30px;
    margin-top: -150px;
    margin-left: -100px;

}
.loving-feature-images h2{
    font-size: 65px;
    font-weight: 700;
}
.loving-feature-images h4{
    font-size: 25px;
    font-weight: 500;
}

/* some facts */

.some-facts{
    margin: 50px auto;
    width: 90%;
}

.some-facts h2{
    font-size: 45px;
    font-weight: 700;
}

.fact{
    width: 30%;
}

.achievements{
    display: flex;
    justify-content: space-around;
    margin:100px 50px;
    
}

.achivement-item {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding:5px;
    width: 242px;
    height: 242px;
    text-align: center;
}

.achivement-item:hover{
    border: 3px solid #f1dcc2;
    box-shadow: 1px 1px 10px #FF900E; 
}

.achivement-item  img{
   margin-top: 20%;
}

/* support section */

/* sponsor section */

.sponsors-section{
    text-align: center;
    
    
}
.sponsors-section p {
margin-top: 30px;

  
}

.sponsor-items {
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
}
.sponsor-items img{
    filter: grayscale(100%);
}


footer{
    background-color: #FFF4E7;
    padding:30px;
    text-align: center;
    width: 90%;
    align-items:center;
    margin: 50px auto;
    margin-bottom: 200px;
}







